@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ADD CUSTOM STYLE */
@layer base {
  body {
    font-family: "Geist", sans-serif;
    background: black;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #f2f2f2;
  }

  .bento {
    background-color: #111;
    border: 1px solid #333;
    padding: 0.75rem;
    border-radius: 12px;
  }

  .link {
    font-family: "Doto", sans-serif;
    font-weight: bold;
  }
}
@layer components {
}
